In [7]:
import os
import pandas as pd 
import glob

In [21]:
Path = f'./scraped-data/'

filePath = glob.glob(os.path.join(Path,"*json"))

myList = []


for file in filePath:
    
    myList.append(file)
    salaryDf = pd.concat(
        map(pd.read_json, myList), ignore_index=True)
    
salaryDf = salaryDf.loc[salaryDf['name'] != 'NAME']

salaryDf['salary'] = salaryDf['salary'].str.replace(r'($)','')

salaryDf= salaryDf.sort_values(['salary'])

salaryDf

<ipython-input-21-755ae7eb8fb8>:16: FutureWarning: The default value of regex will change from True to False in a future version.
  salaryDf['salary'] = salaryDf['salary'].str.replace(r'$,','')

      index                 name              team      salary  year
1518     25    Isaiah Livers, PF   Detroit Pistons  $1,057,260  2022
3186     25    Isaiah Livers, PF   Detroit Pistons  $1,057,260  2022
2835     25    Isaiah Livers, PF   Detroit Pistons  $1,057,260  2022
1255     25    Isaiah Livers, PF   Detroit Pistons  $1,057,260  2022
201      25    Isaiah Livers, PF   Detroit Pistons  $1,057,260  2022
...     ...                  ...               ...         ...   ...
1519     26  Marquese Chriss, SF  Dallas Mavericks    $958,529  2022
3187     26  Marquese Chriss, SF  Dallas Mavericks    $958,529  2022
1256     26  Marquese Chriss, SF  Dallas Mavericks    $958,529  2022
2836     26  Marquese Chriss, SF  Dallas Mavericks    $958,529  2022
1738     26  Marquese Chriss, SF  Dallas Mavericks    $958,529  2022

[3112 rows x 5 columns]